:root{--cor-de-fundo:#236669;}
:root {--cor-de-texto:#000000;}
html  {   
    background-color: var(--cor-de-fundo) ;
    color:var(--cor-de-texto);
}
.figurinha{display: flex;}

.cc{
    display: flex;
}