:root{--cor-de-fundo:#236669;
    --cor-de-texto:#000000;}
    
html  {   
    background-color: var(--cor-de-fundo) ;
    color:var(--cor-de-texto);
}
#texto{
    color: #108751;
}
.cc{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contagem{
    background-color: beige;
    padding: 20px 0;
    text-align: center;
}

.objetivos{
    padding: 20px;
    font-size:  18px;
}

.ativo{
    background-color: #000000;
    color: #108751;
}
