:root{--cor-de-fundo:#236669;
    --cor-de-texto:#000000;}
    
html  {   
    background-color: var(--cor-de-fundo) ;
    color:var(--cor-de-texto);
}
.cc{
    display: flex;
    justify-content: space-around;
    align-items: center;
}